<div class="contact">
	<div class="container">
		<section>
			<div class="page-header">
				<h2>Contact Information<small> Here's how to reach me.</small></h2>
			</div> 
			<div class="row">
			
				
				<div class="col-lg-3 col-xs-12">
					<span class="glyphicon glyphicon-envelope"></span> <label>Email:</label>	
				</div>
				<div class="col-lg-8 col-xs-12">
					chandnihsharma@gmail.com	
				</div>	

			</div>
			
			<div class="row">
			
				<div class="col-lg-3 col-xs-12">
					<span class="glyphicon glyphicon-earphone"></span> <label>Telephone:</label>
				</div>
				<div class="col-lg-9 col-xs-12">
					(+971) 	52 6161 520
				</div>	

			</div>
			
			<div class="row">
			
				<div class="col-lg-3 col-xs-12">
					<span class="glyphicon glyphicon-home"></span> <label>Address:</label>	
				</div>
				<div class="col-lg-9 col-xs-12">
					<p>Flat 2103, Saaed Tower 1,</p>
					<p>Sheikh Zayed Road,</p> 
					<p>Dubai, UAE.</p>	
				</div>	

			</div>

		</section>
	</div> <!--End container-->
</div>	