<div class="about">
	<div class="picture">
		<div class="home-overlay-v2">
			<ddiv class="container">
				<div class="col-md-12 bottom-aligned-text">

					<div class="logoContainer">
						<img src="../images/logo.png" class="img-responsive logo" alt="logo">
					</div><!-- end .logo -->
					<div class="info">
						<h1>CHANDNI SHARMA</h1>
						<h3>SENIOR FRONT END DEVELOPER</h3>
					</div><!-- end .info -->

					<ul class="social">
				         <li><a class="twitter" href="#"></a></li>
				         <li><a class="facebook" href="https://www.facebook.com/chandnihsharma"></a></li>
				         <li><a class="linkedin" href="https://ae.linkedin.com/in/chandnihsharma"></a></li>
				         <li><a class="github" href="https://github.com/achandnihsharma"></a></li>
						<li><a class="pinterest" href="#"></a></li>				         
						<li><a class="skype" href="skype:chandnihsharma?add"></a></li>
				    </ul><!-- end .social -->
				</div><!-- end .col-md-12 -->
			</div>
		</div>
	</div>
</div>

