<div class="qualification">
	<div class="container">
		<section>
			<div class="page-header">
				<h2>Qualification.<small> Certifications and degrees I hold.</small></h2>
			</div> 
			<h3>Certifications</h3>
			<div class="jumbotron">
					
				<div class="row">
					<div class="col-lg-6 col-md-6 col-xs-12 p10">
						<div class="col-md-12 well clearfix">
							<img src="../images/acp_flex_developer.gif" alt="Adode Certified Expert in Flex 4.5"/>
						</div>
					</div>
					<div class="col-lg-6  col-md-6 col-xs-12 p10">
						<div class="col-md-12 well">
							<img src="../images/brainbench.png" alt="Brain Bench Certified in Web Development Concepts"/>
						</div>
					</div>
				</div><!-- End row -->
				<div class="row pt-20">

					<div class="col-lg-6  col-md-6 col-xs-12">
						<div class="col-md-12 well">
							<img src="../images/java-certified-programmer.png" alt="Sun Certified Java Programmer"/>
						</div>
					</div>
					<div class="col-lg-6  col-md-6 col-xs-12">
						<div class="col-md-12 well">
							<img src="../images/java-certified-web.png" alt="Sun Certified Web Component Developer"/>
						</div>
					</div>
				</div><!-- End row -->
			</div><!-- End jumbotron -->

			<h3>Education</h3>
			<div class="jumbotron">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-xs-12">
						<div class="col-md-12 well clearfix">
							<img src="../images/Pune_univ_logo.png" alt="Pune University logo"/>
							<div class="caption">
						        <h4>Pune University, India</h4>
						        <p>M.Sc. - Computer Science</p>
						    </div><!-- End caption -->
						</div>
					</div>
					<div class="col-lg-6  col-md-6 col-xs-12">
						<div class="col-md-12 well">
							<img src="../images/Pune_univ_logo.png" alt="Pune University logo"/>
							<div class="caption">
						        <h4>Pune University, India</h4>
						        <p>B.Sc. - Computer Science</p>
						    </div><!-- End caption -->
						</div>
					</div>
				</div><!-- End row -->
			</div><!-- End jumbotron -->
			
		</section>
	</div><!-- End container -->
</div><!-- End qualification -->