<div class="container">
	<section>
		<div class="page-header" id="feedback">
			<h2>Recommendations.<small> Things people have to say about me.</small></h2>
		</div> 

		<div class="row">
			<div class="col-lg-12">
				<blockquote>
					<p>Chandni is a dedicated, ambitious and result driven professional. I hired her for a complex mobile application initiative and she exceeded our expectations. She is great in dealing with difficult situations and a fantastic problem solver. I recommend her to anyone looking for perfection and attention to detail on the job.</p>
					<footer>
            <span>Amersh Singh,</span> 
            <span>Vice President Engineering at Confidential (Management Consulting)</span>  
          </footer>
				</blockquote>
			</div>
     </div> <!-- End row -->

     <div class="row">
			<div class="col-lg-12">
				<blockquote>
					<p>Technical issues, meeting timelines or dealing with difficult customers, whatever your problem, we had Chandni as our solution. She was a great team player and was always available when we had a challenge. Great individual to have in your team.</p>
					<footer>
             <span>Vijay Verghis,</span>
             <span>Cognizant Interactive - Digital Marketing Services - Lead</span> 
          </footer>
				</blockquote>
			</div>
    </div><!-- End row -->
    
    <div class="row">
			<div class="col-lg-12">
				<blockquote>
					<p>I have worked with Chandni for developing a complex business intelligence application for world's largest bank. Knowing her for more than 4 years now, ready to learn new teechnology and perfection are the right phrases that comes to my mind when I think about Chandni.</p>
					<footer>
             <span>Kailash Rode,</span>
             <span>Program Manager (UXD)- Cognizant</span> 
          </footer>
				</blockquote>
			</div>
		</div><!-- End row -->
	</section>
</div><!--End Container-->