/******************************************
Responsive
******************************************/

@media screen and (max-width: 600px){
    .info  h2{
        font-size: 60px;
    }
    .info h3{
        font-size: 20px;
    }
}

@media screen and (max-width: 480px){
}

@media screen and (max-width: 375px){  
    .info  h2{
        font-size: 50px;
    }
    
}
@media screen and (max-width: 360px){
    .info  h2{
        font-size: 50px;
    }
    
}

@media screen and (max-width: 320px){
    
}
